body { 
    background: white;
    font-family: Vernanda, ariel, SANS-SERIF;
  font-size: 80%;
}

h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 180%;
}
em {
  text-decoration: underline;
  font-style: italic;
}

#menu li {
  text-decoration: none;
  list-style-type: none;
  margin-left: -2em;
}

#menu ul {
  margin-top: 0.3em;
  font-size: 85%;
}

a {
  color: black;
  border-bottom: 1px gray;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover {
  color: #2F4F4F;
 position: relative;
}

#list_title a {
    font-weight: bold;
}

#list_title a:hover {
  color: black;
  position: relative;
}

.list_seperator{
  width: 50%;
  margin-left: 0;
  text-align: left;
}

.tooltip{
  color: black;
  display: none;
    font-weight: normal;
    font-style: normal;
    font-family: Vernanda, ariel, SANS-SERIF;
  text-decoration: none;
  font-size: 10pt;
}

a:hover .tooltip{
    position: absolute;
  width: 300px; top: 40px; left: -20px;
  /* formatting only styles */
    padding: 5px;
 margin: 15px;
  z-index: 100;
    background: #F5DEB3; border: 1px dotted #7f7f7f;
  opacity: 0.95;
  /* end formatting */
}

.number_data {
  text-align: center;
}

#display_box {
  margin-left: 1%;
  float: left;
  width: 20%;
}

#spectra_plot {
  float: center;
  width: 99%;
  padding-left: 0px;
}
#spectra_plot_label {
  float: left;
  align: left;
  padding-left: 35px;
}

#spectra_plot_table {
  float: right;
  width: 77%;
  margin-left: 0px;
  border-collapse: collapse;
  border: 0px solid #CCCCCC;
}

#spectra_plot_table th{
  border-bottom: 0px solid #CCCCCC;
}

#multiple_detections {
  margin-left: 3%;
  float: left;
  width: 30%;
  clear: both;
}

#lone_table {
  width: 77%;
  margin-left: 0%; 
  margin-right: 0%;  
  margin-bottom: 30px;
  margin-top: 5px;
  text-align:left; 
  float: right;
  clear: right;
  border-collapse: collapse;
  border: 0px solid #000000;
}

#lone_table td, #lone_table th{
  border-bottom: 1px dashed #CCCCCC;
  padding: 3px 7px 2px 7px;
}

#lone_table th{
  border-bottom: 2px solid #888888;
  background-color: #D3D3D3;
}  

#lone_table tr.target{
  background-color: #edf3ff;
}  

#lone_table tr:hover{
  font-weight: bold;
}  

#lone_figure {
  clear: both;
  float: left;
  text-align: center;
}

#plot_key {
  background: white;
}

#data_table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000000;
}

#data_table td, #data_table th{
  border-bottom: 1px solid #FFFFFF;
  background-color: #EEEEEE;
  padding: 3px 7px 2px 7px;
}

#data_table th{
  background-color: #D3D3D3;
}

.tablink {
  background-color: #EEE;
  color: black;
  float: left;
  border: 4px;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  font-size: 15px;
  width: 200px;
}

.tablink:hover {
background-color: #CCC;
}

/* Style the tab content */
.tabcontent {
  background-color: #EEE;
  padding: 0px;
  color: #CCC;
  display: none;
  border: 0px;
  text-align: center;
}

#RGB_Image {background-color:#CCC;
 padding: 7px;}
#Detections {background-color:#CCC;
  padding: 7px;}
  
.button a {
  width: 90%;
  display: inline-block;
  margin: 1px 1px;
  padding: 8px 5px;
  font-weight: 600;
  text-align: center;
  color: #444;
  border: 1px solid white;
  border-top: 2px solid transparent;
  background-color: #ccc;
}

.button a:hover {
  color: #000;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
  background-color: #aaa;
} 

.spectral_plot_button a {
  float:  left;
  display: inline-block;
  margin: 1px 1px;
  padding: 8px 15px;
  font-weight: 600;
  text-align: center;
  color: #444;
  border: 1px solid white;
  border-top: 2px solid transparent;
  background-color: #ccc;
}

.spectral_plot_button a:hover {
  color: #000;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
  background-color: #aaa;
} 

.overview_image_button a {
  float:  left;
  display: inline-block;
  margin: 1px 1px;
  padding: 5px 15px;
  font-weight: 600;
  text-align: center;
  color: #444;
  border: 1px solid white;
  border-top: 2px solid transparent;
  background-color: #ccc;
}

.overview_image_button a:hover {
  color: #000;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
  background-color: #aaa;
}
  
  .clt, .clt ul, .clt li {
  position: relative;
}
.clt ul {
list-style: none;
padding-left: 32px;
}
.clt li::before, .clt li::after {
content: "";
position: absolute;
left: -12px;
}
.clt li::before {
border-top: 1px solid #000;
top: 9px;
width: 8px;
height: 0;
}
.clt li::after {
   border-left: 1px solid #000;
   height: 100%;
   width: 0px;
   top: 2px;
}
.clt ul > li:last-child::after {
   height: 8px;
}
.demo-container {
   box-sizing: border-box;
   width: 100%;
   height: 450px;
   padding: 0px 0px 15px 0px;
   margin: 0px auto 0px auto;
   border: 0px solid #fff;
   background: #fff;
}
.demo-placeholder {
   width: 100%;
   height: 100%;
   font-size: 14px;
   line-height: 1.2em;
}
.legend table {
   border-spacing: 5px;
}
.demo-container {
	width: 100%;
	height: 400px;
	padding: 0px 0px 15px 0px;
	margin: 0px auto 0px auto;
	border: 0px solid #fff;
	background: #fff;
}
.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.legend table {
	border-spacing: 5px;
}
